node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.env
.env.*
coverage
.nyc_output
.temp
.tmp
logs
*.log
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
build
/dist
/test
*.tsbuildinfo
